/* Layout */
* {
  box-sizing: border-box;
}
body {
  font: 16pt/18pt Lato, Verdana, sans-serif;
  margin: 20px auto 0;
  width: 95%;
  max-width: 900px;
}
body > header,
body > footer {
  padding: 0.25em 1em;
}
body > footer {
  font-size: 0.8em;
}
body > header h1 {
  margin: 0;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: bottom;
  width: 40%;
}
body > header a {
  text-decoration: none;
}
main {
  padding: 0.25em 1em;
  margin: 0.5em auto;
}
main h1 {
  line-height: 1em;
}
main img{
  max-width: 95%;
}
blockquote{
  margin-left: 5px;
  padding-left: 5px;
}
aside {
  margin: 0;
  padding: 0.25em 1em;
  font-size: 0.8em;
  max-width: 99%;
}
aside img {
  max-width: 99%;
}
nav ul {
  margin: 0.25em auto;
  padding: 0;
  list-style: none;
  width: 95%;
}
nav li {
  padding: 0 5px;
  text-align: center;
  line-height: 1.5em;
}
aside li h3 {
  padding: 0;
  margin: 0;
  width: 100%;
}
body>footer ul {
  /*min-height: 100px;*/
  padding: 0;
  list-style-type: none;
}
body>footer li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 32%;
}

@media screen and (min-width: 900px) {
  main {
    display: inline-block;
    vertical-align: top;
    width: 74%;
  }
  aside {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  .card {
    display: inline-block;
    vertical-align: top;
    width: 32.5%;
    margin: 0;
    padding: 0;
  }
  .card h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    text-align: center;
  }
  .card ul {
    margin: 0;
    padding: 0 0 0 1.3em;
    display: inline-block;
  }
  .column-ul {
    width: 49%;
  }
}
/* Color */
html {
  background: #331155;
  background-image: url("bgs/rocky-wall.png");
}
body {
  background: #220033;
}
body > header,
body > footer {
  background: #401060;
  color: #efdfff;
  border: 3px solid #441166;
  border-bottom: 1px solid #cc66ff;
}
body > footer {
  border-bottom: 0px;
  border-top: 1px solid #cc66ff;
}

main {
  background: #ffffee;
  color: #222;
  border: 3px solid #441166;
  border-top: 1px solid #671089;
  border-bottom: 1px solid #671089;
}
article {
  border-top: 1px solid #401060;
}
article:first-of-type {
  border-top: 0;
}
blockquote{
  border-left: 3px solid #444;
  background:#eeddbb;
}
aside li {
  background: #feefff;
  border: 1px #444 solid;
}
aside li a {
  text-shadow: 0px 0px;
}
aside li h3 {
  background: #ddaaee;
}
body > header a,
body > footer a {
  color: #ffeedd;
}
body > header a:visited,
body > footer a:visited {
  color: #eeddbb;
}
a {
  color: #601090;
  text-shadow: #444 1px 1px;
}
a:visited {
  color: #671089;
  text-shadow: #c060f0 1px 1px;
}
a:hover,
a:visited:hover,
a.hover {
  background: #ffffdd;
  color: #cc66ff;
}
.card {
  background: rgba(204, 153, 0, .3);
}
.card h2{
  background: rgba(56, 16, 96, .6);
  color: #ffdd66;
}
.card li{
  border-bottom: .1em solid #cc9900;
}
.card li:last-of-type {
  border-bottom: 0px;
  padding-bottom: .1em;
}
