/* Structure - leave this alone unless you want to try new things */
html {}
body {
    width: 950px;
    max-width: 95%;
    margin: 0 auto;
}
body>header{}
body>header img {
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
body>header nav ul {
    list-style: none;
    text-align: center;
}
body>header nav ul li {
    display: inline-block;
    padding-left: 5px;
}
body>header nav ul li:first-of-type {
    padding-left: 0px;
}
body>aside {
    display: ineline-block;
    vertical-align: top;
    width: 25%;
}
body>main {
    display: ineline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 5%;
}
body>footer {
    text-align: center;
    padding-bottom: 10px;
}

/* Colors - feel free to play around here */
html {
    background: #8B6550;
}
body {
    background: rgba(199,199,199,.5);
    color: #292929;
}
a {
    color: #F07216;
    padding: .1em;
}
a:visited {
    color: #B83444;
}
a:hover {
    color: #8B6550;
    background: #F07216;
}