/* Structure */
html {}
body {
    width: 950px;
    max-width: 95%;
    margin: 0 auto;
}
body>header{}
body>header img {
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
body>aside {
    display: ineline-block;
    vertical-align: top;
    width: 25%;
}
body>main {
    display: ineline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 5%;
}
body>footer {}