/* Structure - leave this alone unless you want to try new things */
html {}
body {
    width: 950px;
    max-width: 95%;
    margin: 0 auto;
}
body>header{}
body>header img {
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
body>aside {
    display: ineline-block;
    vertical-align: top;
    width: 25%;
}
body>main {
    display: ineline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 5%;
}
body>footer {}

/* Colors - feel free to play around here */
html {
    background: #8B6550;
}
body {
    background: rgba(9,9,9,.5);
    color: #efefef;
}