<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Green Theme<!-- Change this to your page's title in the top bar --></title>
        <link href="style.css" rel="stylesheet" type="text/css" media="all">
    </head>
	<body>
		<header>
			<h1><a href="/">Green Theme<!-- Change this to your page's title --></a></h1>
        </header>
        <aside>
            <nav>
                <ul>
                    <li><h3>[Links header - replace with title]</h3></li>
                    <li><a href="<!-- Put the link here-->">Replace with page link</a></li>
                    <li><a href="<!-- Put the link here-->">Replace with page link</a></li>
                    <li><a href="<!-- Put the link here-->">Replace with page link</a></li>
                    <li><a href="<!-- Put the link here-->">Replace with page link</a></li>
                    <li><a href="<!-- Put the link here-->">Replace with page link</a></li>
                    <li><a href="<!-- Put the link here-->">Replace with page link</a></li>
                    <!-- You can copy and paste (or delete) to conform to the amount of links you have-->
                </ul>
            </nav>
        </aside>
        <main>
            <section>
                <header><h1>Your Title</h1></header>
                <p>You can put whatever you want here! This is where the most important part of your website lives. Whatever you want to say, say it here.</p>
                <p>You can add as many P tags as you need for each new paragraph. You can also add links like this: <a href="#">this is a link to this page</a>. You can do lots more with HTML! Check out <a href="https://htmlforpeople.com">HTML For People</a> for more tips on using HTML!</p>
            </section>
        </main>
        <footer>
            <ul>
                <li><!-- Add your Bluesky URL --><a href="">bluesky</a></li>
                <li><!-- Add your Mastodon URL --><a href="">mastodon</a></li>
                <li><!-- Add your other social URL --><a href="">[other]</a></li>
            </ul>
        </footer>
</html>